App_WebReferences/com/bezeq/bdeskws/BdeskPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProjectDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectLines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectLinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectLinesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectDocs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectDocsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectDocsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProjectDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectDetails" />
  </wsdl:message>
  <wsdl:message name="GetProjectDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectLinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectLines" />
  </wsdl:message>
  <wsdl:message name="GetProjectLinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectLinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectDocsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectDocs" />
  </wsdl:message>
  <wsdl:message name="GetProjectDocsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectDocsResponse" />
  </wsdl:message>
  <wsdl:portType name="BdeskPortalSoap">
    <wsdl:operation name="GetProjectDetails">
      <wsdl:input message="tns:GetProjectDetailsSoapIn" />
      <wsdl:output message="tns:GetProjectDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectLines">
      <wsdl:input message="tns:GetProjectLinesSoapIn" />
      <wsdl:output message="tns:GetProjectLinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectDocs">
      <wsdl:input message="tns:GetProjectDocsSoapIn" />
      <wsdl:output message="tns:GetProjectDocsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BdeskPortalSoap" type="tns:BdeskPortalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjectDetails">
      <soap:operation soapAction="http://tempuri.org/GetProjectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectLines">
      <soap:operation soapAction="http://tempuri.org/GetProjectLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDocs">
      <soap:operation soapAction="http://tempuri.org/GetProjectDocs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BdeskPortalSoap12" type="tns:BdeskPortalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjectDetails">
      <soap12:operation soapAction="http://tempuri.org/GetProjectDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectLines">
      <soap12:operation soapAction="http://tempuri.org/GetProjectLines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDocs">
      <soap12:operation soapAction="http://tempuri.org/GetProjectDocs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BdeskPortal">
    <wsdl:port name="BdeskPortalSoap" binding="tns:BdeskPortalSoap">
      <soap:address location="http://bdeskws.bezeq.com/BdeskPortal.asmx" />
    </wsdl:port>
    <wsdl:port name="BdeskPortalSoap12" binding="tns:BdeskPortalSoap12">
      <soap12:address location="http://bdeskws.bezeq.com/BdeskPortal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>